<div class="ng-login">
  <form (ngSubmit)="onSubmit()" class="ng-loginForm" [formGroup]="loginForm">
    <app-input
      placeholder="почта"
      errorMessage="Не корректный email"
      formControlName="email"
    />
    <app-input
      placeholder="пароль"
      errorMessage="не корректный пароль"
      formControlName="password"
    />
    <div class="ng-loginForm__regRouteContainer">
      <div>У вас нет учетной записи?</div>
      <div (click)="onRedirectForLogin()" class="ng-loginForm__regRoute">
        Registration
      </div>
    </div>
    <div class="ng-loginForm__regRouteContainer">
      <div>Вам нужно подтвердить свою учетную запись?</div>
      <div (click)="onRedirectForConfirm()" class="ng-loginForm__regRoute">
        Confirm
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
