<div class="ng-login">
  <form (ngSubmit)="onSubmit()" class="ng-loginForm" [formGroup]="loginForm">
    <!-- <div
      class="ng-loginForm__itemInput"
      *ngFor="
        let dataInput of dataLoginPage;
        index as index;
        trackBy: trackByIndex
      "
    >
      <input
        class="ng-loginForm__input"
        [formControlName]="dataInput.controlName"
        [placeholder]="dataInput.controlName"
        [type]="dataInput.inputType"
        [id]="dataInput.inputType"
      />
      <app-form-error-handler
        [patternName]="dataInput.patternName"
        class="ng-loginForm__inputError"
        [errorFormObject]="dataInput.input"
      ></app-form-error-handler>
    </div> -->
    <app-input></app-input>
    <div class="ng-loginForm__regRouteContainer">
      <div>У вас нет учетной записи?</div>
      <div (click)="onRedirectForLogin()" class="ng-loginForm__regRoute">
        Registration
      </div>
    </div>
    <div class="ng-loginForm__regRouteContainer">
      <div>Вам нужно подтвердить свою учетную запись?</div>
      <div (click)="onRedirectForConfirm()" class="ng-loginForm__regRoute">
        Confirm
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
