<div class="ng-confirm">
  <form
    (ngSubmit)="onSubmit()"
    class="ng-confirmForm"
    [formGroup]="confirmForm"
  >
    <app-input
      placeholder="ключ"
      errorMessage="Не корректный ключ"
      formControlName="key"
    />
    <div class="ng-confirmForm__loginRouteContainer">
      <div>Already have an account?</div>
      <div
        (click)="onRedirectForLogin()"
        class="ng-confirmForm__loginRouteLogin"
      >
        Login
      </div>
    </div>
    <button type="submit" [disabled]="confirmForm.invalid">Confirm</button>
  </form>
</div>
