<div class="ng-registration">
  <form
    (ngSubmit)="onSubmit()"
    class="ng-registrationForm"
    [formGroup]="registrationForm"
  >
    <!-- <div
      class="ng-registrationForm__itemInput"
      *ngFor="
        let dataInput of dataRegisterPage;
        index as index;
        trackBy: trackByIndex
      "
    >
      <input
        class="ng-registrationForm__input"
        [formControlName]="dataInput.controlName"
        [placeholder]="dataInput.controlName"
        [type]="dataInput.inputType"
        [id]="dataInput.inputType"
      />
      <app-form-error-handler
        [patternName]="dataInput.patternName"
        class="ng-registrationForm__inputError"
        [errorFormObject]="dataInput.input"
      ></app-form-error-handler>
    </div> -->
    <div class="ng-registrationForm__loginRouteContainer">
      <div>Already have an account?</div>
      <div
        (click)="onRedirectForLogin()"
        class="ng-registrationForm__loginRouteLogin"
      >
        Login
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">
      Registration
    </button>
  </form>
</div>
