<div class="ng-registration">
  <form
    (ngSubmit)="onSubmit()"
    class="ng-registrationForm"
    [formGroup]="registrationForm"
  >
    <app-input
      placeholder="имя"
      errorMessage="Не корректное имя"
      formControlName="name"
    />
    <app-input
      placeholder="почта"
      errorMessage="Не корректный email"
      formControlName="email"
    />
    <app-input
      placeholder="пароль"
      errorMessage="не корректный пароль"
      formControlName="password"
    />
    <div class="ng-registrationForm__loginRouteContainer">
      <div>Already have an account?</div>
      <div
        (click)="onRedirectForLogin()"
        class="ng-registrationForm__loginRouteLogin"
      >
        Login
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">
      Registration
    </button>
  </form>
</div>
