@import "colors.scss";
@import "mixins.scss";
@import "globalStyles.scss";
@import "buttons.scss";
@import "ngx-toastr/toastr";
@import "styles/inputs.scss";
@import "styles/loaders.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
