@use "colors.scss" as *;
@use "mixins.scss" as *;
@use "globalStyles.scss" as *;
@use "buttons.scss" as *;
@use "ngx-toastr/toastr" as *;
@use "styles/inputs.scss" as *;
@use "styles/loaders.scss" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
