<form class="create-article" [formGroup]="articleForm">
  <app-input
    placeholder="Заголовок статьи"
    errorMessage="Обязательное поле"
    formControlName="title"
  />
  <div>
    <div>Выбранные теги:</div>
    <div>
      @for(tag of articleForm.get('tags')!.value; track $index) {
        {{tag}}
      }
    </div>
  </div>
  <app-search-input
    [searchedRequest$]="testRequest"
    placeholder="Теги"
    errorMessage="Обязательное поле"
  />
  <custom-select title="Стек статьи" [values]="techologies" formControlName="stack" />
  <app-markdown-textarea formControlName="text" title="Текст статьи/заметки:"/>
  <button [disabled]="!articleForm.valid" class="primary" (click)="onSubmit()">
    Создать
  </button>
</form>
