<div class="knowledgeBase">
  <div>Выберите один из основых стеков статей:</div>
  <div class="knowledgeBase__techlogyTags">
    @for(tech of techologies; track tech) {
      <div
        (click)="onClickTechTagHandler(tech)"
        class="knowledgeBase__techlogy"
        [class.active]="tech === currentTech()"
      >
      {{ tech }}
    </div>
    }
  </div>
  @for (article of dataArticles; track article.id) {
    <div class="knowledgeBase__article">
      <div class="knowledgeBase__title">
        <markdown
        lineHighlight
        [data]="article.title" />
      </div>
      <div class="knowledgeBase__tags">
        @for(tag of article.tags; track tag) { 
          <div class="knowledgeBase__tag">#{{ tag.title }}</div>
        }
      </div>
      <div>
        <markdown
          lineHighlight
          [data]="article.description" />
      </div>
    </div>
  }
</div>
