<div class="knowledgeBase">
  <div class="knowledgeBase__techlogyTags">
    @for(tech of techologies; track tech) {
      <div
        (click)="onClickTechTagHandler(tech)"
        class="knowledgeBase__techlogy"
        [class.active]="tech === currentTech()"
      >
      {{ tech }}
    </div>
    }
  </div>

  @for(question of dataQuestions; track question.id) {
    <div class="knowledgeBase__title">
      <markdown
      lineHighlight
      [data]="question.title" />
    </div>
    <div class="knowledgeBase__tags">
      @for(tag of question.answer; track tag) { 
        @if(tag.isCorrect) {
          <div class="knowledgeBase__tag">#{{ tag.title }}</div>
         } 
      }
    </div>
    <div>
      <markdown
        lineHighlight
        [data]="question.description" />
    </div>
  }
</div>
