@use '../styles/mixins.scss' as *;
.app {
  display: flex;
  gap: 20px;
  padding: 15px;
  justify-content: flex-start;
  height: 90vh;
  overflow: auto;
  box-sizing: border-box;

  @include tablet {
    flex-direction: column;
  }

  router-outlet {
    display: none;
  }

}
