@import "colors.scss";

.ng-header {
  padding: 10px;
  box-shadow: 0 4px 8px $color-medium-gray;
  background: $darkGrayBlue;

  .ng-headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 20px;
    border-radius: 5px;
  }

  .ng-header__button {
    background: $color-white;
    border: unset;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: translateY(-1px);
      color: $color-dark-gray;
    }

    &:active {
      box-shadow: 0 2px 4px $color-gray;
      transform: translateY(0);
    }
  }
}
