<div class="ng-header">
  @if(isAuth) {
  <div class="ng-headerContainer">
    <div>
      <cabinet-icon
        (click)="onIconHomeClickHandler()"
        [id]="'home'"
        [color]="'white'"
      />
    </div>
    <button (click)="onClickLeaveHandler()" class="ng-header__button">
      Выход
    </button>
  </div>
  } @else {
  <div class="ng-headerContainer">
    <label class="toggle">
      <input
        [checked]="checked"
        (input)="onCheckHandler($event)"
        id="toggle"
        type="checkbox"
      />
      <span for="toggle" class="toggle__radius"></span>
    </label>
  </div>
  }
</div>
