@import "colors.scss";

.ng-iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ng-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &.white {
    color: var(--color-white);
  }
}
