<div class="chat">
  <div class="chat__messageBlock">
    @for(message of messages(); track $index) {
      <div class="chat__message">
        <div>{{message.Name}}</div>
        <div>{{message.Message}}</div>
      </div>
    }
  </div>
  <div class="chat__usersTyping">
    @for(typingUser of typingUsers() ; track $index) {
      <div class="chat__userTyping">
        {{typingUser.Name}} печатает
      </div>
    }
  </div>
  <textarea name="message" id="message" [formControl]="message"></textarea>
  <button class="primary" [disabled]="!message.value" (click)="sendMessage()">Send Message</button>
</div>
