<div class="article">
  <div class="article_titleContainer">
    <span class="article_title">{{ article?.title }}</span>
    <span class="article_titleDate">
      Создал
      <i>{{ article?.user?.name }}</i>
      {{ article?.date | date : 'dd MMMM yyyy' }}
    </span>
    <div class="article_views">
      <div class="article_viewsIconContainer">
        <cabinet-icon id="eye" />
      </div>
      <div class="article_viewsCount">{{ article?.views?.length }}</div>
    </div>
  </div>
  <div class="article__tags">
    @for(tag of article?.tags; track $index){
    <div class="article__tag">{{ tag.title }}</div>
    }
  </div>
  <div>Редактировать</div>
  <div class="article_description">
    <markdown
      lineHighlight
      [data]="article?.description"
    />
  </div>
</div>
