<div class="ng-markdownTextarea__textareaBlock">
  <label class="ng-markdownTextarea__textareaLabel" [for]="control?.name" >Ваш вопрос:
  </label>
  <div class="ng-markdownTextarea__textareaContainer">
    @if(!copyedText?.isPreWatch) {
    <textarea
      (mouseup)="getSelectedText($event)"
      cdkTextareaAutosize
      cdkAutosizeMinRows="6"
      cdkAutosizeMaxRows="25"
      [id]="value"
      [(ngModel)]="value"
      class="ng-markdownTextarea__textarea"></textarea>
    } @else {
    <div class="ng-markdownTextarea__textareaMarkdownPreWatch">
      <markdown
        lineHighlight
        [data]="value" />
    </div>
    }
    <div
      (click)="onPreWatchHandler('question')"
      class="ng-markdownTextarea__preWatchTextarea">
      Превью
    </div>
  </div>
  <div
    class="ng-markdownTextarea__transformCodebutton"
    (click)="onChangeModeHandler()">
    {{
      this.codeFormsToggle ? "Текст" : "Режим разметки"
    }}
  </div>
</div>