<div class="ng-markdownTextarea__textareaBlock" >
  <label class="ng-markdownTextarea__textareaLabel" [for]="control.name" >Ваш вопрос:
  </label>
  <div class="ng-markdownTextarea__textareaContainer">
    @if (!isPreWatch) {
      <textarea
        (mouseup)="getSelectedText($event)"
        (input)="onTextareaChange($event)"
        cdkTextareaAutosize
        cdkAutosizeMinRows="6"
        cdkAutosizeMaxRows="25"
        [id]="control.name"
        [(ngModel)]="value"
        class="ng-markdownTextarea__textarea">
      </textarea>
    } @else {
      <div class="ng-markdownTextarea__textareaMarkdownPreWatch">
        <markdown
          lineHighlight
          [data]="value" />
      </div>
    }
      <div
        (click)="onPreWatchHandler()"
        class="ng-markdownTextarea__preWatchTextarea">
        Превью
      </div>
  </div>
  @if(!isPreWatch) {
  <div class="ng-markdownTextarea__codebuttonContainer" @bubble>
    <div
      class="ng-markdownTextarea__transformCodebutton"
      (click)="onChangeModeHandler()">
      {{
        this.codeFormsToggle ? "Текст" : "Режим разметки"
      }}
    </div>
      <div class="ng-markdownTextarea__markdownContainer">
        @if (this.codeFormsToggle) {
          <div @bubble title="Код в текст">
            <cabinet-icon
              (click)="onTransformTest('code')"
              [id]="'code'"
              [color]="'white'"
            >
            </cabinet-icon>
          </div>
          <div @bubble title="Блок кода">
            <cabinet-icon
              (click)="onTransformTest('block-code')"
              [id]="'code-block'"
              [color]="'white'"
            >
            </cabinet-icon>
          </div>
          <div @bubble title="Линия между блоками">
            <cabinet-icon
              (click)="onTransformTest('line')"
              [id]="'line'"
              [color]="'white'"
            >
            </cabinet-icon>
          </div>
          <div @bubble title="Зачеркнуть текст">
            <cabinet-icon
              (click)="onTransformTest('text-slash')"
              [id]="'text-slash'"
              [color]="'white'"
            >
            </cabinet-icon>
          </div>
        }
      </div>
  </div>
  }
</div>