html[data-theme="light"] {
  --bg-global: #ffffff;
  --bg-color: rgb(226, 226, 226);
  --text-color: black;
  --primary-color: darkcyan;
  --secondary-color: red;
  --accent-color: yellow;
  --error-color: tomato;
  --success-color: green;
  --info-color: lightblue;
  --disabled-color: gray;
  --warning-color: orange;
}

html[data-theme="dark"] {
  --bg-global: #170a1f;
  --bg-color: #2b2b62;
  --text-color: #8cd9cd;
  --primary-color: darkcyan;
  --secondary-color: #1f5a5c;
  --accent-color: gold;
  --error-color: crimson;
  --success-color: lime;
  --info-color: steelblue;
  --disabled-color: dimgray;
  --warning-color: brown;
}
