@import "colors.scss";

* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--text-color);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: var(--bg-global);
}
.container {
  width: auto;
  max-width: 1200px;
  margin: 15px auto;
  padding: 0 10px;
}
